Telegram based AI Booking System.json
{
  "name": "Sales System_hr",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI shopping assistant for a Telegram bot connected to a Google Sheets product database.\n\nAll product information comes from the Products Sheet node.\nNever invent product info—only use what's in the provided dataset.\n\nDataset Fields\n\nProduct ID\n\nProduct Name\n\nCategory\n\nPrice (BDT)\n\nStock Status\n\nDescription\n\nImage URL (Optional)\n\nSpecifications / Tags\n\nRules\nLanguage\n\nIf user writes in Bengali → respond in Bengali\n\nIf user writes in English → respond in English\n\nIf mixed → respond in mixed style\n\nCategory Flow\n\nIf user asks general questions like \"What products do you have?\" → show categories only, ask which one to explore\n\nExample:\n\nAvailable categories:\n• All the categories\nWhich category do you want to see?\nProduct List\n\nWhen a category is selected → show all products in that category\n\nInclude: Product Name, Price, Short Description\n\nDo not show images at this stage\n\nProduct Details / Images\n\nShow image only if the user asks specifically about a product\n\nInclude: Info + Image URL\n\nOrder Flow\n\nOrder requires 3 pieces of info:\n\nCustomer Name\n\nEmail Address\n\nProduct Name (collected automatically during conversation)\n\nOrder object must remain empty until all info is collected\n\nAsk for missing info step by step\n\nAfter collecting all info, ask:\n\"Do you confirm this order?\"\n\nIf confirmed → generate Order ID and return order JSON with date\n\nInclude congratulatory message:\n\nEnglish: 🎉 Congratulations! Your order has been successfully placed.\n\nBengali: 🎉 অভিনন্দন! আপনার অর্ডার সফলভাবে সম্পন্ন হয়েছে।\n\nResponse Format\n{\n  \"response\": \"Message to user\",\n  \"items\": [\n    {\n      \"info\": \"Product info here\",\n      \"image\": \"Product image URL here\"\n    }\n  ],\n  \"order\": {}\n}\n\nItems: empty if no product shown\n\nOrder: empty until all info collected\n\nOnly include images when user asks for a specific product\n\nExample Flows\n\n1️⃣ General category request\n\nUser: \"Ki ki ache?\"\n\n{\n  \"response\": \"আমাদের কাছে এই ক্যাটাগরির পণ্যগুলো আছে: Smart Watch, Wireless Earbuds ... কোনটি দেখতে চান?\",\n  \"items\": [],\n  \"order\": {}\n}\n\n2️⃣ Category selection\n\nUser: \"Smart Watch dekhao\"\n\n{\n  \"response\": \"Smart Watch ক্যাটাগরিতে এই পণ্যটি আছে: WavePlay Pro, 24,500 BDT, AMOLED ডিসপ্লে...\",\n  \"items\": [],\n  \"order\": {}\n}\n\n3️⃣ Product details with image\n\nUser: \"Show WavePlay Pro\"\n\n{\n  \"response\": \"WavePlay Pro এর ছবি নিচে দেওয়া হলো।\",\n  \"items\": [\n    {\n      \"info\": \"WavePlay Pro, 24,500 BDT, AMOLED display, 24/7 heart rate monitor, 5-day battery\",\n      \"image\": \"https://i.postimg.cc/qv6FwZG1/HZ12-Digital-Amoled-Smart-Watch-2.jpg\"\n    }\n  ],\n  \"order\": {}\n}\n\n4️⃣ Ordering flow\n\nUser: \"Order korte cai\"\n\n{\n  \"response\": \"অর্ডার করার জন্য প্রথমে আপনার নাম দিন।\",\n  \"items\": [],\n  \"order\": {}\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        320,
        0
      ],
      "id": "b170255d-a5c3-456d-a946-4d6e6c4c6cd4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        448,
        432
      ],
      "id": "a541163e-9da8-4e28-b25c-faee3cf11060",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "s3NfTUiO633SNxkm",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        0
      ],
      "id": "dffc28f5-928d-4ec4-a743-d1d80c85f2e1",
      "name": "Telegram Trigger",
      "webhookId": "217e710b-d9c8-4095-969e-f515d0039bff",
      "credentials": {
        "telegramApi": {
          "id": "IiNbVk1HX2G2CURV",
          "name": "Sales_system_hr"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZAzM-128DIXQvOaTLw9wquTKyVX-Bqrh3DmbLDslwF0",
          "mode": "list",
          "cachedResultName": "Inventory CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZAzM-128DIXQvOaTLw9wquTKyVX-Bqrh3DmbLDslwF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Product",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZAzM-128DIXQvOaTLw9wquTKyVX-Bqrh3DmbLDslwF0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        384,
        224
      ],
      "id": "a753b217-bb80-4adc-a102-6b0de888700c",
      "name": "Products",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "98H2W6mRi2XkYXGd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        256,
        224
      ],
      "id": "be42bb94-b1f9-462d-b515-359903477321",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        -16
      ],
      "id": "3364aace-1c45-4458-a543-d09c8c2ce351",
      "name": "Item"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"response\": {\n      \"type\": \"string\"\n    },\n    \"items\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"info\": {\n            \"type\": \"string\"\n          },\n          \"image\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\"info\", \"image\"]\n      }\n    },\n    \"order\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"Name\": {\n          \"type\": \"string\"\n        },\n        \"Order Id\": {\n          \"type\": \"string\"\n        },\n        \"Email\": {\n          \"type\": \"string\"\n        },\n        \"Products\": {\n          \"type\": \"string\"\n        },\n        \"Order Date\": {\n          \"type\": \"string\"\n        }\n      }\n    }\n  },\n  \"required\": [\"response\", \"items\", \"order\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        160,
        384
      ],
      "id": "a954088b-8af2-412d-bd42-36d6fcfce339",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.order }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "c6fef686-cd5b-44a5-b81e-37b93ef9ad27"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        784,
        176
      ],
      "id": "7aa1effa-1bb1-4bad-8a5c-d0f10fa491af",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZAzM-128DIXQvOaTLw9wquTKyVX-Bqrh3DmbLDslwF0",
          "mode": "list",
          "cachedResultName": "Inventory CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZAzM-128DIXQvOaTLw9wquTKyVX-Bqrh3DmbLDslwF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1785907284,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZAzM-128DIXQvOaTLw9wquTKyVX-Bqrh3DmbLDslwF0/edit#gid=1785907284"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Order Id": "={{ $json.output.order['Order Id'] }}",
            "Customer Name": "={{ $json.output.order.Name }}",
            "Email": "={{ $json.output.order.Email }}",
            "Prdoucts": "={{ $json.output.order.Products }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order Id",
              "displayName": "Order Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prdoucts",
              "displayName": "Prdoucts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        176
      ],
      "id": "3a6722d8-2938-46fa-858b-91ded4152317",
      "name": "Add Order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "98H2W6mRi2XkYXGd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Order Confirmed!",
        "message": "=<!DOCTYPE html> <html> <head> <meta charset=\"UTF-8\"> <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"> <title>Order Confirmation</title>  <style> body{ margin:0; padding:0; background:#f4f6f8; font-family:Arial, Helvetica, sans-serif; }  .wrapper{ width:100%; background:#f4f6f8; padding:20px 0; }  .container{ max-width:600px; margin:auto; background:#ffffff; border-radius:8px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.05); }  .header{ background:#2563eb; color:#ffffff; padding:20px; text-align:center; }  .header h1{ margin:0; font-size:22px; }  .content{ padding:25px; color:#333; font-size:15px; line-height:1.6; }  .order-box{ background:#f9fafb; padding:18px; border-radius:6px; margin-top:15px; }  .order-box p{ margin:6px 0; }  .product-table{ width:100%; border-collapse:collapse; margin-top:10px; }  .product-table th{ text-align:left; padding:8px; background:#f1f5f9; font-size:14px; }  .product-table td{ padding:8px; border-bottom:1px solid #eee; font-size:14px; }  .footer{ background:#f1f5f9; padding:18px; text-align:center; font-size:13px; color:#666; }  @media screen and (max-width:600px){  .content{ padding:18px; font-size:14px; }  .header h1{ font-size:20px; }  } </style> </head>  <body>  <div class=\"wrapper\"> <div class=\"container\">  <div class=\"header\"> <h1>Scriptly Store</h1> </div>  <div class=\"content\">  <p>Hello <strong>{{ $json['Customer Name'] }}</strong>,</p>  <p>🎉 Thank you for your order! Your purchase has been successfully confirmed.</p>  <div class=\"order-box\">  <p><strong>Order ID:</strong> {{ $json['Order Id'] }}</p> <p><strong>Order Date:</strong> {{OrderDate}}</p>  <table class=\"product-table\">  <tr> <th>Products Ordered</th> </tr>  <tr> <td>{{ $json.Prdoucts }}</td> </tr>  </table>  </div>  <p>If you have any questions about your order, feel free to reply to this email.</p>  <p>We appreciate your business and hope you enjoy your purchase!</p>  </div>  <div class=\"footer\"> <p>© 2026 Scriptly Store</p> <p>Thank you for shopping with us.</p> </div>  </div> </div>  </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        176
      ],
      "id": "ad994f76-dec5-4832-8124-f4a08914a354",
      "name": "Order Email",
      "webhookId": "470155db-1d11-4ae5-93fe-0264dbd8c26b",
      "credentials": {
        "gmailOAuth2": {
          "id": "cV1cDCUJIy38oWhQ",
          "name": "Weprolead"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "file": "={{ $('Item').item.json.image }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1376,
        0
      ],
      "id": "470dd5c2-f322-4002-970a-b1fcbbc843ce",
      "name": "Product Image",
      "webhookId": "2e9a6f00-1875-40d4-8ea3-afe07d57d572",
      "credentials": {
        "telegramApi": {
          "id": "IiNbVk1HX2G2CURV",
          "name": "Sales_system_hr"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $('Item').item.json.info }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        0
      ],
      "id": "0b08ec19-5795-444d-a0a6-3731f2020dc9",
      "name": "Product Info",
      "webhookId": "2e9a6f00-1875-40d4-8ea3-afe07d57d572",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "IiNbVk1HX2G2CURV",
          "name": "Sales_system_hr"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        -208
      ],
      "id": "6cb816f5-55f3-4ce8-9b0e-0903f2003efa",
      "name": "Send Response",
      "webhookId": "2e9a6f00-1875-40d4-8ea3-afe07d57d572",
      "credentials": {
        "telegramApi": {
          "id": "IiNbVk1HX2G2CURV",
          "name": "Sales_system_hr"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        784,
        -16
      ],
      "id": "996b836d-eeff-4648-b801-e4e5b39ae7db",
      "name": "Pass Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Pass Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Products": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Item": {
      "main": [
        [],
        [
          {
            "node": "Product Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Add Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Order": {
      "main": [
        [
          {
            "node": "Order Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Image": {
      "main": [
        [
          {
            "node": "Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Info": {
      "main": [
        [
          {
            "node": "Product Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Items": {
      "main": [
        [
          {
            "node": "Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97894d34-007a-4dac-beba-7c74ad85ef4f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f485c4e32ab2d2b27d20e0312b04e16a45457c54ed416ccf409252857696b3c"
  },
  "id": "zheM5fCVokKaqChu",
  "tags": []
}